ABEV3_10 filter=lfs diff=lfs merge=lfs -text
ABEV3_15 filter=lfs diff=lfs merge=lfs -text
ABEV3_21 filter=lfs diff=lfs merge=lfs -text
ABEV3_5 filter=lfs diff=lfs merge=lfs -text
ABEV3_7 filter=lfs diff=lfs merge=lfs -text
BOVA11_10 filter=lfs diff=lfs merge=lfs -text
BOVA11_15 filter=lfs diff=lfs merge=lfs -text
BOVA11_21 filter=lfs diff=lfs merge=lfs -text
BOVA11_5 filter=lfs diff=lfs merge=lfs -text
BOVA11_7 filter=lfs diff=lfs merge=lfs -text
CIEL3_10 filter=lfs diff=lfs merge=lfs -text
CIEL3_15 filter=lfs diff=lfs merge=lfs -text
CIEL3_21 filter=lfs diff=lfs merge=lfs -text
CIEL3_5 filter=lfs diff=lfs merge=lfs -text
CIEL3_7 filter=lfs diff=lfs merge=lfs -text
CMIG4_10 filter=lfs diff=lfs merge=lfs -text
CMIG4_15 filter=lfs diff=lfs merge=lfs -text
CMIG4_21 filter=lfs diff=lfs merge=lfs -text
CMIG4_5 filter=lfs diff=lfs merge=lfs -text
CMIG4_7 filter=lfs diff=lfs merge=lfs -text
EMBR3_10 filter=lfs diff=lfs merge=lfs -text
EMBR3_15 filter=lfs diff=lfs merge=lfs -text
EMBR3_21 filter=lfs diff=lfs merge=lfs -text
EMBR3_5 filter=lfs diff=lfs merge=lfs -text
EMBR3_7 filter=lfs diff=lfs merge=lfs -text
ITUB4_10 filter=lfs diff=lfs merge=lfs -text
ITUB4_15 filter=lfs diff=lfs merge=lfs -text
ITUB4_21 filter=lfs diff=lfs merge=lfs -text
ITUB4_5 filter=lfs diff=lfs merge=lfs -text
ITUB4_7 filter=lfs diff=lfs merge=lfs -text
