data/allStocks filter=lfs diff=lfs merge=lfs -text
data/splitter.py filter=lfs diff=lfs merge=lfs -text
data/stocks_list filter=lfs diff=lfs merge=lfs -text
data/**/*.txt filter=lfs diff=lfs merge=lfs -text
data/allStocks/15min_candles filter=lfs diff=lfs merge=lfs -text
data/allStocks/daily_candles filter=lfs diff=lfs merge=lfs -text
data/allStocks/15min_candles/ABEV3 filter=lfs diff=lfs merge=lfs -text
data/allStocks/15min_candles/BBAS3 filter=lfs diff=lfs merge=lfs -text
data/allStocks/15min_candles/BBDC3 filter=lfs diff=lfs merge=lfs -text
data/allStocks/15min_candles/BBDC4 filter=lfs diff=lfs merge=lfs -text
data/allStocks/15min_candles/BBSE3 filter=lfs diff=lfs merge=lfs -text
data/allStocks/15min_candles/BOVA11 filter=lfs diff=lfs merge=lfs -text
data/allStocks/15min_candles/BRAP4 filter=lfs diff=lfs merge=lfs -text
data/allStocks/15min_candles/BRFS3 filter=lfs diff=lfs merge=lfs -text
data/allStocks/15min_candles/BRKM5 filter=lfs diff=lfs merge=lfs -text
data/allStocks/15min_candles/BRML3 filter=lfs diff=lfs merge=lfs -text
data/allStocks/15min_candles/BRPR3 filter=lfs diff=lfs merge=lfs -text
data/allStocks/15min_candles/BVMF3 filter=lfs diff=lfs merge=lfs -text
data/allStocks/15min_candles/CCRO3 filter=lfs diff=lfs merge=lfs -text
data/allStocks/15min_candles/CESP6 filter=lfs diff=lfs merge=lfs -text
data/allStocks/15min_candles/CIEL3 filter=lfs diff=lfs merge=lfs -text
data/allStocks/15min_candles/CMIG4 filter=lfs diff=lfs merge=lfs -text
data/allStocks/15min_candles/CPFE3 filter=lfs diff=lfs merge=lfs -text
data/allStocks/15min_candles/CPLE6 filter=lfs diff=lfs merge=lfs -text
data/allStocks/15min_candles/CRUZ3 filter=lfs diff=lfs merge=lfs -text
data/allStocks/15min_candles/CSAN3 filter=lfs diff=lfs merge=lfs -text
data/allStocks/15min_candles/CSNA3 filter=lfs diff=lfs merge=lfs -text
data/allStocks/15min_candles/CTIP3 filter=lfs diff=lfs merge=lfs -text
data/allStocks/15min_candles/CYRE3 filter=lfs diff=lfs merge=lfs -text
data/allStocks/15min_candles/DTEX3 filter=lfs diff=lfs merge=lfs -text
data/allStocks/15min_candles/ECOR3 filter=lfs diff=lfs merge=lfs -text
data/allStocks/15min_candles/ELET3 filter=lfs diff=lfs merge=lfs -text
data/allStocks/15min_candles/ELET6 filter=lfs diff=lfs merge=lfs -text
data/allStocks/15min_candles/EMBR3 filter=lfs diff=lfs merge=lfs -text
data/allStocks/15min_candles/ENBR3 filter=lfs diff=lfs merge=lfs -text
data/allStocks/15min_candles/ESTC3 filter=lfs diff=lfs merge=lfs -text
data/allStocks/15min_candles/FIBR3 filter=lfs diff=lfs merge=lfs -text
data/allStocks/15min_candles/GFSA3 filter=lfs diff=lfs merge=lfs -text
data/allStocks/15min_candles/GGBR4 filter=lfs diff=lfs merge=lfs -text
data/allStocks/15min_candles/GOAU4 filter=lfs diff=lfs merge=lfs -text
data/allStocks/15min_candles/GOLL4 filter=lfs diff=lfs merge=lfs -text
data/allStocks/15min_candles/HGTX3 filter=lfs diff=lfs merge=lfs -text
data/allStocks/15min_candles/HYPE3 filter=lfs diff=lfs merge=lfs -text
data/allStocks/15min_candles/ITSA4 filter=lfs diff=lfs merge=lfs -text
data/allStocks/15min_candles/ITUB4 filter=lfs diff=lfs merge=lfs -text
data/allStocks/15min_candles/JBSS3 filter=lfs diff=lfs merge=lfs -text
data/allStocks/15min_candles/KLBN11 filter=lfs diff=lfs merge=lfs -text
data/allStocks/15min_candles/KROT3 filter=lfs diff=lfs merge=lfs -text
data/allStocks/15min_candles/LAME4 filter=lfs diff=lfs merge=lfs -text
data/allStocks/15min_candles/LREN3 filter=lfs diff=lfs merge=lfs -text
data/allStocks/15min_candles/MRFG3 filter=lfs diff=lfs merge=lfs -text
data/allStocks/15min_candles/MRVE3 filter=lfs diff=lfs merge=lfs -text
data/allStocks/15min_candles/MULT3 filter=lfs diff=lfs merge=lfs -text
data/allStocks/15min_candles/NATU3 filter=lfs diff=lfs merge=lfs -text
data/allStocks/15min_candles/OIBR4 filter=lfs diff=lfs merge=lfs -text
data/allStocks/15min_candles/PCAR4 filter=lfs diff=lfs merge=lfs -text
data/allStocks/15min_candles/PETR3 filter=lfs diff=lfs merge=lfs -text
data/allStocks/15min_candles/PETR4 filter=lfs diff=lfs merge=lfs -text
data/allStocks/15min_candles/POMO4 filter=lfs diff=lfs merge=lfs -text
data/allStocks/15min_candles/QUAL3 filter=lfs diff=lfs merge=lfs -text
data/allStocks/15min_candles/RENT3 filter=lfs diff=lfs merge=lfs -text
data/allStocks/15min_candles/RUMO3 filter=lfs diff=lfs merge=lfs -text
data/allStocks/15min_candles/SANB11 filter=lfs diff=lfs merge=lfs -text
data/allStocks/15min_candles/SBSP3 filter=lfs diff=lfs merge=lfs -text
data/allStocks/15min_candles/SMLE3 filter=lfs diff=lfs merge=lfs -text
data/allStocks/15min_candles/SUZB5 filter=lfs diff=lfs merge=lfs -text
data/allStocks/15min_candles/TBLE3 filter=lfs diff=lfs merge=lfs -text
data/allStocks/15min_candles/TIMP3 filter=lfs diff=lfs merge=lfs -text
data/allStocks/15min_candles/UGPA3 filter=lfs diff=lfs merge=lfs -text
data/allStocks/15min_candles/USIM5 filter=lfs diff=lfs merge=lfs -text
data/allStocks/15min_candles/VALE3 filter=lfs diff=lfs merge=lfs -text
data/allStocks/15min_candles/VALE5 filter=lfs diff=lfs merge=lfs -text
data/allStocks/15min_candles/VIVT4 filter=lfs diff=lfs merge=lfs -text
data/20150725_candles_ibov_15min_10campos_comCabecalho.txt filter=lfs diff=lfs merge=lfs -text
data/allStocks/trainset/est/averages/10_closeSmaEma filter=lfs diff=lfs merge=lfs -text
data/allStocks/trainset/est/averages/15_closeSmaEma filter=lfs diff=lfs merge=lfs -text
data/allStocks/trainset/est/averages/21_closeSmaEma filter=lfs diff=lfs merge=lfs -text
data/allStocks/trainset/est/averages/5_closeSmaEma filter=lfs diff=lfs merge=lfs -text
data/allStocks/trainset/est/averages/7_closeSmaEma filter=lfs diff=lfs merge=lfs -text
doc/ABEV3StandardScore.png filter=lfs diff=lfs merge=lfs -text
doc/allStocksGraph.png filter=lfs diff=lfs merge=lfs -text
doc/BOVA11StandardScore.png filter=lfs diff=lfs merge=lfs -text
doc/caption2.sty filter=lfs diff=lfs merge=lfs -text
doc/CIEL3StandardScore.png filter=lfs diff=lfs merge=lfs -text
doc/CMIG4StandardScore.png filter=lfs diff=lfs merge=lfs -text
doc/EMBR3StandardScore.png filter=lfs diff=lfs merge=lfs -text
doc/gg.png filter=lfs diff=lfs merge=lfs -text
doc/ITUB4StandardScore.png filter=lfs diff=lfs merge=lfs -text
doc/ModeloArtigo_SBC_Portugues.doc filter=lfs diff=lfs merge=lfs -text
doc/packagesrequired filter=lfs diff=lfs merge=lfs -text
doc/Projeto-ThiagoSilva.pdf filter=lfs diff=lfs merge=lfs -text
doc/Projeto-ThiagoSilva.tex filter=lfs diff=lfs merge=lfs -text
doc/sbc.bst filter=lfs diff=lfs merge=lfs -text
doc/sbc-template.sty filter=lfs diff=lfs merge=lfs -text
doc/usefulpapers filter=lfs diff=lfs merge=lfs -text
