averages/ABEV3_10_closeSmaEma filter=lfs diff=lfs merge=lfs -text
averages/ABEV3_15_closeSmaEma filter=lfs diff=lfs merge=lfs -text
averages/ABEV3_21_closeSmaEma filter=lfs diff=lfs merge=lfs -text
averages/ABEV3_5_closeSmaEma filter=lfs diff=lfs merge=lfs -text
averages/ABEV3_7_closeSmaEma filter=lfs diff=lfs merge=lfs -text
averages/BOVA11_10_closeSmaEma filter=lfs diff=lfs merge=lfs -text
averages/BOVA11_15_closeSmaEma filter=lfs diff=lfs merge=lfs -text
averages/BOVA11_21_closeSmaEma filter=lfs diff=lfs merge=lfs -text
averages/BOVA11_5_closeSmaEma filter=lfs diff=lfs merge=lfs -text
averages/BOVA11_7_closeSmaEma filter=lfs diff=lfs merge=lfs -text
averages/CIEL3_10_closeSmaEma filter=lfs diff=lfs merge=lfs -text
averages/CIEL3_15_closeSmaEma filter=lfs diff=lfs merge=lfs -text
averages/CIEL3_21_closeSmaEma filter=lfs diff=lfs merge=lfs -text
averages/CIEL3_5_closeSmaEma filter=lfs diff=lfs merge=lfs -text
averages/CIEL3_7_closeSmaEma filter=lfs diff=lfs merge=lfs -text
averages/CMIG4_10_closeSmaEma filter=lfs diff=lfs merge=lfs -text
averages/CMIG4_15_closeSmaEma filter=lfs diff=lfs merge=lfs -text
averages/CMIG4_21_closeSmaEma filter=lfs diff=lfs merge=lfs -text
averages/CMIG4_5_closeSmaEma filter=lfs diff=lfs merge=lfs -text
averages/CMIG4_7_closeSmaEma filter=lfs diff=lfs merge=lfs -text
averages/EMBR3_10_closeSmaEma filter=lfs diff=lfs merge=lfs -text
averages/EMBR3_15_closeSmaEma filter=lfs diff=lfs merge=lfs -text
averages/EMBR3_21_closeSmaEma filter=lfs diff=lfs merge=lfs -text
averages/EMBR3_5_closeSmaEma filter=lfs diff=lfs merge=lfs -text
averages/EMBR3_7_closeSmaEma filter=lfs diff=lfs merge=lfs -text
averages/ITUB4_10_closeSmaEma filter=lfs diff=lfs merge=lfs -text
averages/ITUB4_15_closeSmaEma filter=lfs diff=lfs merge=lfs -text
averages/ITUB4_21_closeSmaEma filter=lfs diff=lfs merge=lfs -text
averages/ITUB4_5_closeSmaEma filter=lfs diff=lfs merge=lfs -text
averages/ITUB4_7_closeSmaEma filter=lfs diff=lfs merge=lfs -text
Bollingerbands/ABEV3_10_1.5_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/ABEV3_10_2.0_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/ABEV3_10_2.5_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/ABEV3_10_3.0_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/ABEV3_10_3.5_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/ABEV3_15_1.5_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/ABEV3_15_2.0_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/ABEV3_15_2.5_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/ABEV3_15_3.0_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/ABEV3_15_3.5_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/ABEV3_21_1.5_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/ABEV3_21_2.0_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/ABEV3_21_2.5_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/ABEV3_21_3.0_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/ABEV3_21_3.5_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/ABEV3_5_1.5_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/ABEV3_5_2.0_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/ABEV3_5_2.5_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/ABEV3_5_3.0_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/ABEV3_5_3.5_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/ABEV3_7_1.5_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/ABEV3_7_2.0_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/ABEV3_7_2.5_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/ABEV3_7_3.0_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/ABEV3_7_3.5_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/BOVA11_10_1.5_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/BOVA11_10_2.0_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/BOVA11_10_2.5_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/BOVA11_10_3.0_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/BOVA11_10_3.5_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/BOVA11_15_1.5_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/BOVA11_15_2.0_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/BOVA11_15_2.5_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/BOVA11_15_3.0_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/BOVA11_15_3.5_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/BOVA11_21_1.5_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/BOVA11_21_2.0_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/BOVA11_21_2.5_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/BOVA11_21_3.0_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/BOVA11_21_3.5_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/BOVA11_5_1.5_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/BOVA11_5_2.0_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/BOVA11_5_2.5_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/BOVA11_5_3.0_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/BOVA11_5_3.5_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/BOVA11_7_1.5_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/BOVA11_7_2.0_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/BOVA11_7_2.5_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/BOVA11_7_3.0_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/BOVA11_7_3.5_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/CIEL3_10_1.5_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/CIEL3_10_2.0_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/CIEL3_10_2.5_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/CIEL3_10_3.0_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/CIEL3_10_3.5_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/CIEL3_15_1.5_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/CIEL3_15_2.0_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/CIEL3_15_2.5_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/CIEL3_15_3.0_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/CIEL3_15_3.5_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/CIEL3_21_1.5_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/CIEL3_21_2.0_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/CIEL3_21_2.5_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/CIEL3_21_3.0_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/CIEL3_21_3.5_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/CIEL3_5_1.5_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/CIEL3_5_2.0_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/CIEL3_5_2.5_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/CIEL3_5_3.0_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/CIEL3_5_3.5_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/CIEL3_7_1.5_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/CIEL3_7_2.0_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/CIEL3_7_2.5_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/CIEL3_7_3.0_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/CIEL3_7_3.5_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/CMIG4_10_1.5_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/CMIG4_10_2.0_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/CMIG4_10_2.5_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/CMIG4_10_3.0_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/CMIG4_10_3.5_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/CMIG4_15_1.5_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/CMIG4_15_2.0_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/CMIG4_15_2.5_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/CMIG4_15_3.0_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/CMIG4_15_3.5_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/CMIG4_21_1.5_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/CMIG4_21_2.0_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/CMIG4_21_2.5_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/CMIG4_21_3.0_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/CMIG4_21_3.5_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/CMIG4_5_1.5_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/CMIG4_5_2.0_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/CMIG4_5_2.5_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/CMIG4_5_3.0_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/CMIG4_5_3.5_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/CMIG4_7_1.5_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/CMIG4_7_2.0_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/CMIG4_7_2.5_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/CMIG4_7_3.0_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/CMIG4_7_3.5_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/EMBR3_10_1.5_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/EMBR3_10_2.0_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/EMBR3_10_2.5_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/EMBR3_10_3.0_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/EMBR3_10_3.5_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/EMBR3_15_1.5_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/EMBR3_15_2.0_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/EMBR3_15_2.5_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/EMBR3_15_3.0_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/EMBR3_15_3.5_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/EMBR3_21_1.5_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/EMBR3_21_2.0_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/EMBR3_21_2.5_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/EMBR3_21_3.0_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/EMBR3_21_3.5_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/EMBR3_5_1.5_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/EMBR3_5_2.0_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/EMBR3_5_2.5_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/EMBR3_5_3.0_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/EMBR3_5_3.5_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/EMBR3_7_1.5_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/EMBR3_7_2.0_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/EMBR3_7_2.5_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/EMBR3_7_3.0_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/EMBR3_7_3.5_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/ITUB4_10_1.5_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/ITUB4_10_2.0_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/ITUB4_10_2.5_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/ITUB4_10_3.0_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/ITUB4_10_3.5_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/ITUB4_15_1.5_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/ITUB4_15_2.0_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/ITUB4_15_2.5_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/ITUB4_15_3.0_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/ITUB4_15_3.5_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/ITUB4_21_1.5_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/ITUB4_21_2.0_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/ITUB4_21_2.5_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/ITUB4_21_3.0_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/ITUB4_21_3.5_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/ITUB4_5_1.5_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/ITUB4_5_2.0_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/ITUB4_5_2.5_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/ITUB4_5_3.0_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/ITUB4_5_3.5_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/ITUB4_7_1.5_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/ITUB4_7_2.0_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/ITUB4_7_2.5_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/ITUB4_7_3.0_closebbands filter=lfs diff=lfs merge=lfs -text
Bollingerbands/ITUB4_7_3.5_closebbands filter=lfs diff=lfs merge=lfs -text
