ABEV3 filter=lfs diff=lfs merge=lfs -text
BBAS3 filter=lfs diff=lfs merge=lfs -text
BBDC3 filter=lfs diff=lfs merge=lfs -text
BBDC4 filter=lfs diff=lfs merge=lfs -text
BBSE3 filter=lfs diff=lfs merge=lfs -text
BOVA11 filter=lfs diff=lfs merge=lfs -text
BRAP4 filter=lfs diff=lfs merge=lfs -text
BRFS3 filter=lfs diff=lfs merge=lfs -text
BRKM5 filter=lfs diff=lfs merge=lfs -text
BRML3 filter=lfs diff=lfs merge=lfs -text
BRPR3 filter=lfs diff=lfs merge=lfs -text
BVMF3 filter=lfs diff=lfs merge=lfs -text
CCRO3 filter=lfs diff=lfs merge=lfs -text
CESP6 filter=lfs diff=lfs merge=lfs -text
CIEL3 filter=lfs diff=lfs merge=lfs -text
CMIG4 filter=lfs diff=lfs merge=lfs -text
CPFE3 filter=lfs diff=lfs merge=lfs -text
CPLE6 filter=lfs diff=lfs merge=lfs -text
CRUZ3 filter=lfs diff=lfs merge=lfs -text
CSAN3 filter=lfs diff=lfs merge=lfs -text
CSNA3 filter=lfs diff=lfs merge=lfs -text
CTIP3 filter=lfs diff=lfs merge=lfs -text
CYRE3 filter=lfs diff=lfs merge=lfs -text
DTEX3 filter=lfs diff=lfs merge=lfs -text
ECOR3 filter=lfs diff=lfs merge=lfs -text
ELET3 filter=lfs diff=lfs merge=lfs -text
ELET6 filter=lfs diff=lfs merge=lfs -text
EMBR3 filter=lfs diff=lfs merge=lfs -text
ENBR3 filter=lfs diff=lfs merge=lfs -text
ESTC3 filter=lfs diff=lfs merge=lfs -text
FIBR3 filter=lfs diff=lfs merge=lfs -text
GFSA3 filter=lfs diff=lfs merge=lfs -text
GGBR4 filter=lfs diff=lfs merge=lfs -text
GOAU4 filter=lfs diff=lfs merge=lfs -text
GOLL4 filter=lfs diff=lfs merge=lfs -text
HGTX3 filter=lfs diff=lfs merge=lfs -text
HYPE3 filter=lfs diff=lfs merge=lfs -text
ITSA4 filter=lfs diff=lfs merge=lfs -text
ITUB4 filter=lfs diff=lfs merge=lfs -text
JBSS3 filter=lfs diff=lfs merge=lfs -text
KLBN11 filter=lfs diff=lfs merge=lfs -text
KROT3 filter=lfs diff=lfs merge=lfs -text
LAME4 filter=lfs diff=lfs merge=lfs -text
LREN3 filter=lfs diff=lfs merge=lfs -text
MRFG3 filter=lfs diff=lfs merge=lfs -text
MRVE3 filter=lfs diff=lfs merge=lfs -text
MULT3 filter=lfs diff=lfs merge=lfs -text
NATU3 filter=lfs diff=lfs merge=lfs -text
OIBR4 filter=lfs diff=lfs merge=lfs -text
PCAR4 filter=lfs diff=lfs merge=lfs -text
PETR3 filter=lfs diff=lfs merge=lfs -text
PETR4 filter=lfs diff=lfs merge=lfs -text
POMO4 filter=lfs diff=lfs merge=lfs -text
QUAL3 filter=lfs diff=lfs merge=lfs -text
RENT3 filter=lfs diff=lfs merge=lfs -text
RUMO3 filter=lfs diff=lfs merge=lfs -text
SANB11 filter=lfs diff=lfs merge=lfs -text
SBSP3 filter=lfs diff=lfs merge=lfs -text
SMLE3 filter=lfs diff=lfs merge=lfs -text
SUZB5 filter=lfs diff=lfs merge=lfs -text
TBLE3 filter=lfs diff=lfs merge=lfs -text
TIMP3 filter=lfs diff=lfs merge=lfs -text
UGPA3 filter=lfs diff=lfs merge=lfs -text
USIM5 filter=lfs diff=lfs merge=lfs -text
VALE3 filter=lfs diff=lfs merge=lfs -text
VALE5 filter=lfs diff=lfs merge=lfs -text
VIVT4 filter=lfs diff=lfs merge=lfs -text
