DIMinus/ABEV3_10_diminus filter=lfs diff=lfs merge=lfs -text
DIMinus/ABEV3_15_diminus filter=lfs diff=lfs merge=lfs -text
DIMinus/ABEV3_21_diminus filter=lfs diff=lfs merge=lfs -text
DIMinus/ABEV3_5_diminus filter=lfs diff=lfs merge=lfs -text
DIMinus/ABEV3_7_diminus filter=lfs diff=lfs merge=lfs -text
DIMinus/BOVA11_10_diminus filter=lfs diff=lfs merge=lfs -text
DIMinus/BOVA11_15_diminus filter=lfs diff=lfs merge=lfs -text
DIMinus/BOVA11_21_diminus filter=lfs diff=lfs merge=lfs -text
DIMinus/BOVA11_5_diminus filter=lfs diff=lfs merge=lfs -text
DIMinus/BOVA11_7_diminus filter=lfs diff=lfs merge=lfs -text
DIMinus/CIEL3_10_diminus filter=lfs diff=lfs merge=lfs -text
DIMinus/CIEL3_15_diminus filter=lfs diff=lfs merge=lfs -text
DIMinus/CIEL3_21_diminus filter=lfs diff=lfs merge=lfs -text
DIMinus/CIEL3_5_diminus filter=lfs diff=lfs merge=lfs -text
DIMinus/CIEL3_7_diminus filter=lfs diff=lfs merge=lfs -text
DIMinus/CMIG4_10_diminus filter=lfs diff=lfs merge=lfs -text
DIMinus/CMIG4_15_diminus filter=lfs diff=lfs merge=lfs -text
DIMinus/CMIG4_21_diminus filter=lfs diff=lfs merge=lfs -text
DIMinus/CMIG4_5_diminus filter=lfs diff=lfs merge=lfs -text
DIMinus/CMIG4_7_diminus filter=lfs diff=lfs merge=lfs -text
DIMinus/EMBR3_10_diminus filter=lfs diff=lfs merge=lfs -text
DIMinus/EMBR3_15_diminus filter=lfs diff=lfs merge=lfs -text
DIMinus/EMBR3_21_diminus filter=lfs diff=lfs merge=lfs -text
DIMinus/EMBR3_5_diminus filter=lfs diff=lfs merge=lfs -text
DIMinus/EMBR3_7_diminus filter=lfs diff=lfs merge=lfs -text
DIMinus/ITUB4_10_diminus filter=lfs diff=lfs merge=lfs -text
DIMinus/ITUB4_15_diminus filter=lfs diff=lfs merge=lfs -text
DIMinus/ITUB4_21_diminus filter=lfs diff=lfs merge=lfs -text
DIMinus/ITUB4_5_diminus filter=lfs diff=lfs merge=lfs -text
DIMinus/ITUB4_7_diminus filter=lfs diff=lfs merge=lfs -text
DIPlus/ABEV3_10_diplus filter=lfs diff=lfs merge=lfs -text
DIPlus/ABEV3_15_diplus filter=lfs diff=lfs merge=lfs -text
DIPlus/ABEV3_21_diplus filter=lfs diff=lfs merge=lfs -text
DIPlus/ABEV3_5_diplus filter=lfs diff=lfs merge=lfs -text
DIPlus/ABEV3_7_diplus filter=lfs diff=lfs merge=lfs -text
DIPlus/BOVA11_10_diplus filter=lfs diff=lfs merge=lfs -text
DIPlus/BOVA11_15_diplus filter=lfs diff=lfs merge=lfs -text
DIPlus/BOVA11_21_diplus filter=lfs diff=lfs merge=lfs -text
DIPlus/BOVA11_5_diplus filter=lfs diff=lfs merge=lfs -text
DIPlus/BOVA11_7_diplus filter=lfs diff=lfs merge=lfs -text
DIPlus/CIEL3_10_diplus filter=lfs diff=lfs merge=lfs -text
DIPlus/CIEL3_15_diplus filter=lfs diff=lfs merge=lfs -text
DIPlus/CIEL3_21_diplus filter=lfs diff=lfs merge=lfs -text
DIPlus/CIEL3_5_diplus filter=lfs diff=lfs merge=lfs -text
DIPlus/CIEL3_7_diplus filter=lfs diff=lfs merge=lfs -text
DIPlus/CMIG4_10_diplus filter=lfs diff=lfs merge=lfs -text
DIPlus/CMIG4_15_diplus filter=lfs diff=lfs merge=lfs -text
DIPlus/CMIG4_21_diplus filter=lfs diff=lfs merge=lfs -text
DIPlus/CMIG4_5_diplus filter=lfs diff=lfs merge=lfs -text
DIPlus/CMIG4_7_diplus filter=lfs diff=lfs merge=lfs -text
DIPlus/EMBR3_10_diplus filter=lfs diff=lfs merge=lfs -text
DIPlus/EMBR3_15_diplus filter=lfs diff=lfs merge=lfs -text
DIPlus/EMBR3_21_diplus filter=lfs diff=lfs merge=lfs -text
DIPlus/EMBR3_5_diplus filter=lfs diff=lfs merge=lfs -text
DIPlus/EMBR3_7_diplus filter=lfs diff=lfs merge=lfs -text
DIPlus/ITUB4_10_diplus filter=lfs diff=lfs merge=lfs -text
DIPlus/ITUB4_15_diplus filter=lfs diff=lfs merge=lfs -text
DIPlus/ITUB4_21_diplus filter=lfs diff=lfs merge=lfs -text
DIPlus/ITUB4_5_diplus filter=lfs diff=lfs merge=lfs -text
DIPlus/ITUB4_7_diplus filter=lfs diff=lfs merge=lfs -text
