10day_candles/ABEV3 filter=lfs diff=lfs merge=lfs -text
10day_candles/BOVA11 filter=lfs diff=lfs merge=lfs -text
10day_candles/CIEL3 filter=lfs diff=lfs merge=lfs -text
10day_candles/CMIG4 filter=lfs diff=lfs merge=lfs -text
10day_candles/EMBR3 filter=lfs diff=lfs merge=lfs -text
10day_candles/ITUB4 filter=lfs diff=lfs merge=lfs -text
15day_candles/ABEV3 filter=lfs diff=lfs merge=lfs -text
15day_candles/BOVA11 filter=lfs diff=lfs merge=lfs -text
15day_candles/CIEL3 filter=lfs diff=lfs merge=lfs -text
15day_candles/CMIG4 filter=lfs diff=lfs merge=lfs -text
15day_candles/EMBR3 filter=lfs diff=lfs merge=lfs -text
15day_candles/ITUB4 filter=lfs diff=lfs merge=lfs -text
21day_candles/ABEV3 filter=lfs diff=lfs merge=lfs -text
21day_candles/BOVA11 filter=lfs diff=lfs merge=lfs -text
21day_candles/CIEL3 filter=lfs diff=lfs merge=lfs -text
21day_candles/CMIG4 filter=lfs diff=lfs merge=lfs -text
21day_candles/EMBR3 filter=lfs diff=lfs merge=lfs -text
21day_candles/ITUB4 filter=lfs diff=lfs merge=lfs -text
5day_candles/ABEV3 filter=lfs diff=lfs merge=lfs -text
5day_candles/BOVA11 filter=lfs diff=lfs merge=lfs -text
5day_candles/CIEL3 filter=lfs diff=lfs merge=lfs -text
5day_candles/CMIG4 filter=lfs diff=lfs merge=lfs -text
5day_candles/EMBR3 filter=lfs diff=lfs merge=lfs -text
5day_candles/ITUB4 filter=lfs diff=lfs merge=lfs -text
7day_candles/ABEV3 filter=lfs diff=lfs merge=lfs -text
7day_candles/BOVA11 filter=lfs diff=lfs merge=lfs -text
7day_candles/CIEL3 filter=lfs diff=lfs merge=lfs -text
7day_candles/CMIG4 filter=lfs diff=lfs merge=lfs -text
7day_candles/EMBR3 filter=lfs diff=lfs merge=lfs -text
7day_candles/ITUB4 filter=lfs diff=lfs merge=lfs -text
daily_candles/ABEV3 filter=lfs diff=lfs merge=lfs -text
daily_candles/BOVA11 filter=lfs diff=lfs merge=lfs -text
daily_candles/CIEL3 filter=lfs diff=lfs merge=lfs -text
daily_candles/CMIG4 filter=lfs diff=lfs merge=lfs -text
daily_candles/EMBR3 filter=lfs diff=lfs merge=lfs -text
daily_candles/ITUB4 filter=lfs diff=lfs merge=lfs -text
