log/ABEV3 filter=lfs diff=lfs merge=lfs -text
log/BOVA11 filter=lfs diff=lfs merge=lfs -text
log/CIEL3 filter=lfs diff=lfs merge=lfs -text
log/CMIG4 filter=lfs diff=lfs merge=lfs -text
log/EMBR3 filter=lfs diff=lfs merge=lfs -text
log/ITUB4 filter=lfs diff=lfs merge=lfs -text
log/LoCalc filter=lfs diff=lfs merge=lfs -text
standardscore/ABEV3 filter=lfs diff=lfs merge=lfs -text
standardscore/ABEV3_smaema filter=lfs diff=lfs merge=lfs -text
standardscore/BOVA11 filter=lfs diff=lfs merge=lfs -text
standardscore/BOVA11_smaema filter=lfs diff=lfs merge=lfs -text
standardscore/CIEL3 filter=lfs diff=lfs merge=lfs -text
standardscore/CIEL3_smaema filter=lfs diff=lfs merge=lfs -text
standardscore/CMIG4 filter=lfs diff=lfs merge=lfs -text
standardscore/CMIG4_smaema filter=lfs diff=lfs merge=lfs -text
standardscore/EMBR3 filter=lfs diff=lfs merge=lfs -text
standardscore/EMBR3_smaema filter=lfs diff=lfs merge=lfs -text
standardscore/ITUB4 filter=lfs diff=lfs merge=lfs -text
standardscore/ITUB4_smaema filter=lfs diff=lfs merge=lfs -text
standardscore/LoCalc filter=lfs diff=lfs merge=lfs -text
